* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  font-family: arial;
  text-align: center;
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
}
.nav ol {
  list-style: none;
}
.nav ol li a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  display: inline-block;
}
.nav ol li {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.nav ol li::before {
  content: '';
  width: 0%;
  height: 100%;
  background-color: cadetblue;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}

.nav ol li:hover::before {
  width: 100%;
}
.nav2 {
  font-family: arial;
  text-align: center;
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}
.nav2 ul li a {
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  color: white;
}

.nav2 ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.nav2 ul li::before {
  content: '';
  width: 0%;
  height: 100%;
  background-color: crimson;
  position: absolute;
  z-index: -1;
  transition: 0.4s;
  top: 0;
  right: 0;
}
.nav2 ul li:hover::before {
  width: 50%;
}
.nav2 ul li::after {
  content: '';
  width: 0%;
  height: 100%;
  background-color: crimson;
  position: absolute;
  z-index: -1;
  transition: 0.4s;
  top: 0;
  left: 0;
}
.nav2 ul li:hover::after {
  width: 50%;
}

.nav3 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
}
.nav3 ul li a {
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  color: white;
}
.nav3 ul li {
  display: inline-block;
  position: relative;
  z-index: 3;
}
.nav3 ul li::before {
  content: '';
  width: 100%;
  height: 0%;
  background-color: blueviolet;
  position: absolute;
  z-index: -1;
  transition: 0.2s;
  top: 0;
  right: 0;
}
.nav3 ul li:hover::before {
  height: 50%;
}
.nav3 ul li::after {
  content: '';
  width: 100%;
  height: 0%;
  background-color: blueviolet;
  position: absolute;
  z-index: -1;
  transition: 0.6s;
  bottom: 0;
  right: 0;
}
.nav3 ul li:hover::after {
  height: 50%;
}

.nav4 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.nav4 ul li a {
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  color: white;
}
.nav4 ul li {
  display: inline-block;
  position: relative;
  z-index: 3;
}
.nav4 ul li::before {
  content: '';
  width: 0%;
  height: 50%;
  background-color: blueviolet;
  position: absolute;
  z-index: -1;
  transition: 0.6s;
  top: 0;
  right: 0;
}
.nav4 ul li:hover::before {
  width: 100%;
}
.nav4 ul li::after {
  content: '';
  width: 0%;
  height: 50%;
  background-color: cornflowerblue;
  position: absolute;
  z-index: -1;
  transition: 0.6s;
  bottom: 0;
  left: 0;
}
.nav4 ul li:hover::after {
  width: 100%;
}
